# Capstone 2, Notebook 2
### Advanced Feature Tuning and Model Ready Data Creation

The ['Hot Hand Theory'](https://en.wikipedia.org/wiki/Hot_hand) might be the original piece of sports analytics work, and certainly the most discussed and disected. Here we propose a slightly different take, which is to apply financial methods of finding trends to identify values. While there is significant value in a players past overall performance, but being able to spot immediate trends creates a near term arbitrage opportunity where players are undervalued but on an upswing. 

The theory in this case is that since time on ice and time on the power play are the biggest indecators of success, rivaled only by posession metrics, if a model could detect an upward trend it could find undervalued players in advance and forecast postive events.

Worth noting is that these financial methods have also been heavily critiqued, perhaps most [notably by the legendary Burton Malkiel](https://www.forbes.com/sites/steveforbes/2019/04/29/podcast--burton-malkiel-the-man-who-claimed-monkeys-pick-better-stocks-is-vindicated/#6a23a44075d7), but where they fail in financial markets they could very well succeed in this use case. The most frequent critique of 'Chart watchers' and 'market timers' is that they are using prior information to fill in future assumptions, while the [efficient market theory states](https://www.investopedia.com/terms/e/efficientmarkethypothesis.asp) that there is far more current information that is readily available and therefore the market price at current time isn't based on past pricing. In this case, we do not have more current information or insight into why a player is seeing more time; they might have been moved due to injury or a trade. Even if we do have some of that information for some players via say Twitter or trade trackers, coverage isn't global and we don't have an efficent way to find out if a player will see an increase in ice time. Therefore, finding a moving average might well be an effective signal to show that a player's points will soon increase as well. 

Here our hypothesis is that if the average time, power play time, or possession metrics have increased across the past five games over the previous 20, the player will continue to both maintain that higher standing and, due to the nature of those metrics, also see an increase in over all points. In this next segment we'll do a quick feature generation and backtest.


This notebook outlines the generation of some advanced features intended to simulate data that could be used to simulate a forecast. The most difficult part of feature creation was figuring out how to 'append' the last games results and the various primary data. SQL has many built in functions so this made the most sense for this manipulation. Therefore, an instance was created to hold this data and create a sort of primary key to join on.

Notes on the following: you could use this to set up your own instance, but obviously it will fail if you run in the notebook here on github as the passwords and various drives are on a local machine not hosted here, so you'll have to imagine it. That said the flatfiles are saved on github so you could recreate the effort on a local machine with some modifiers.

Secondly, the comp_data here is from the files generated on the first notebook, but the upload was included here to keep all of the SQL work in one area.

In [1]:
import os
import pandas as pd
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import inspect
from sqlalchemy import Table
from sqlalchemy import Column, Integer, String


path = "~/Users/michaelwood/.bash_profile"
databasename = os.environ.get('hockeydb_name')
user = os.environ.get('hockeydb_user')
pw = os.environ.get('hockeydb_pass')
host = os.environ.get('hockeydb_host')
port = os.environ.get('hockeydb_port')

postgres_db = {'drivername': 'postgres',
               'database':databasename,
               'username': user,
               'password': pw,
               'port': port}
engine = create_engine(URL(**postgres_db))

In [3]:
## Do not run this in succession
from pandas.io import sql

comp_data = pd.read_csv(".csv.gz")
comp_data.to_sql(con=engine, name='player_by_game',if_exists='fail', chunksize=10000)
print('rows uploaded: ',engine.execute("SELECT count(*) FROM player_by_game").fetchone()[0])

NameError: name 'comp_data' is not defined

The next segment is to create a partition to hold act as the key, and a few rows to check that the function worked

In [ ]:
engine.execute("alter table player_by_game drop column if exists game_order;")
engine.execute("ALTER TABLE player_by_game ADD COLUMN game_order INT;")
engine.execute("UPDATE player_by_game SET game_order = up.row_number FROM (SELECT player, game_id, ROW_NUMBER () OVER (PARTITION BY player ORDER BY game_date desc) as row_number FROM player_by_game) up where player_by_game.player||player_by_game.game_id = up.player||up.game_id;")

In [6]:
engine.execute("select player, game_date, game_id,game_order  from player_by_game where lastname = 'GREER' order by game_id desc;").fetchall()[0:5]

[('A.J..GREER', datetime.datetime(2019, 2, 23, 0, 0), 2018020951, 1),
 ('A.J..GREER', datetime.datetime(2019, 2, 22, 0, 0), 2018020942, 2),
 ('A.J..GREER', datetime.datetime(2019, 2, 20, 0, 0), 2018020926, 3),
 ('A.J..GREER', datetime.datetime(2019, 2, 18, 0, 0), 2018020913, 4),
 ('A.J..GREER', datetime.datetime(2019, 2, 16, 0, 0), 2018020894, 5)]

In [5]:
playerbg = pd.read_sql(sql = "select * from player_by_game;",con = engine)

In [6]:
playerbg.head()

,index,player,game_id,game_date,season_comp,Team_comp,Opponent_comp,is_home_comp,TOI_comp,G_comp,...,skater_pptoi_percentage,skater_shtoi_percentage,points_per_60,iFF_per_60,ixG_per_60,position,position_type,firstname,lastname,game_order
0,441584,ZENON.KONOPKA,2013021047,2014-03-20,20132014,BUF,EDM,0,5.916667,0,...,0.021212,0.274242,0.0,10.140845,0.000052,C,F,ZENON,KONOPKA,2
1,2,A.J..GREER,2016020268,2016-11-19,20162017,COL,MIN,0,12.700000,0,...,0.000000,0.120301,0.0,4.724409,0.000089,L,F,AJ,GREER,35
2,3,A.J..GREER,2016020278,2016-11-21,20162017,COL,CBJ,0,15.433333,0,...,0.000000,0.000000,0.0,16.021598,0.610197,L,F,AJ,GREER,34
3,4,A.J..GREER,2016020296,2016-11-23,20162017,COL,EDM,1,11.850000,0,...,0.216667,0.054104,0.0,0.000000,0.000000,L,F,AJ,GREER,33
4,5,A.J..GREER,2017020134,2017-10-24,20172018,COL,DAL,1,8.366667,0,...,0.014599,0.000000,0.0,14.342629,1.582916,L,F,A.J.,GREER,32

In [7]:
playerbg.describe()

,index,game_id,season_comp,is_home_comp,TOI_comp,G_comp,A1_comp,A2_comp,Points_comp,iSF_comp,...,t_xGA_state_sh,hat_trick,dk_points,skater_toi_percentage,skater_pptoi_percentage,skater_shtoi_percentage,points_per_60,iFF_per_60,ixG_per_60,game_order
count,441586.000000,4.415860e+05,4.415860e+05,441586.000000,441586.000000,441586.000000,441586.000000,441586.0,441586.000000,441586.000000,...,441586.000000,441586.000000,441586.000000,441586.000000,4.415860e+05,441586.000000,441586.000000,441586.000000,441586.000000,441586.000000
mean,220792.500000,2.012948e+09,2.013128e+07,0.500009,16.519313,0.153035,0.143625,0.0,0.296660,1.684920,...,0.145823,0.001470,1.994554,0.271024,inf,0.216612,1.081981,8.659403,0.734628,216.597315
std,127475.042322,3.235985e+06,3.236342e+04,0.500001,5.033229,0.405322,0.389025,0.0,0.574845,1.547779,...,0.328051,0.038309,1.958460,0.081900,NaN,0.227986,2.171429,6.919072,1.242200,180.495759
min,0.000000,2.008020e+09,2.008201e+07,0.000000,0.016667,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000278,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000
25%,110396.250000,2.010021e+09,2.010201e+07,0.000000,13.250000,0.000000,0.000000,0.0,0.000000,1.000000,...,0.000000,0.000000,0.500000,0.218056,0.000000e+00,0.000000,0.000000,3.596404,0.000000,69.000000
50%,220792.500000,2.013021e+09,2.013201e+07,1.000000,16.683333,0.000000,0.000000,0.0,0.000000,1.000000,...,0.000000,0.000000,1.500000,0.274613,1.809330e-01,0.163214,0.000000,7.555089,0.170099,169.000000
75%,331188.750000,2.016020e+09,2.016202e+07,1.000000,19.900000,0.000000,0.000000,0.0,0.000000,3.000000,...,0.039080,0.000000,3.000000,0.326667,4.912203e-01,0.391236,0.000000,12.550702,0.938550,325.000000
max,441585.000000,2.018030e+09,2.018202e+07,1.000000,41.866667,5.000000,5.000000,0.0,7.000000,14.000000,...,3.599245,1.000000,22.500000,0.609444,inf,1.000000,72.000000,213.500000,37.258950,934.000000

Multiple moving averages and rate changes were created to have values that can be used to generate forecasts.

In [8]:
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

In [9]:
## here I'm checking that the new column value would work as assumed
rolled_values = playerbg.sort_values(by=['player','game_order'],ascending=True).groupby('player')['dk_points'].rolling(2).mean().reset_index()
rolled_values[0:4]

       player  level_1  dk_points
0  A.J..GREER       35        NaN
1  A.J..GREER       34       1.00
2  A.J..GREER       33       2.50
3  A.J..GREER       32       1.75

In [14]:
type(playerbg)

pandas.core.frame.DataFrame

In [19]:
## setting the index so I can join back to the first table
playerbg.set_index(["player",'game_id',"game_order"], inplace=True) 
playerbg.head()

                                      index  game_date  season_comp Team_comp  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2           441584 2014-03-20     20132014       BUF
A.J..GREER    2016020268 35               2 2016-11-19     20162017       COL
              2016020278 34               3 2016-11-21     20162017       COL
              2016020296 33               4 2016-11-23     20162017       COL
              2017020134 32               5 2017-10-24     20172018       COL

                                    Opponent_comp  is_home_comp   TOI_comp  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                    EDM             0   5.916667
A.J..GREER    2016020268 35                   MIN             0  12.700000
              2016020278 34                   CBJ             0  15.433333
              2016020296 33                   EDM             1  11.850000
              2017020134 32                   DAL             1   8.366667

                                     G_comp  A1_comp  A2_comp    ...     \
player        game_id    game_order                              ...
ZENON.KONOPKA 2013021047 2                0        0        0    ...
A.J..GREER    2016020268 35               0        0        0    ...
              2016020278 34               0        0        0    ...
              2016020296 33               0        0        0    ...
              2017020134 32               0        0        0    ...

                                     skater_toi_percentage  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                        0.098611
A.J..GREER    2016020268 35                       0.211667
              2016020278 34                       0.249663
              2016020296 33                       0.197500
              2017020134 32                       0.139444

                                     skater_pptoi_percentage  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                          0.021212
A.J..GREER    2016020268 35                         0.000000
              2016020278 34                         0.000000
              2016020296 33                         0.216667
              2017020134 32                         0.014599

                                     skater_shtoi_percentage  points_per_60  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                          0.274242            0.0
A.J..GREER    2016020268 35                         0.120301            0.0
              2016020278 34                         0.000000            0.0
              2016020296 33                         0.054104            0.0
              2017020134 32                         0.000000            0.0

                                     iFF_per_60  ixG_per_60  position  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2            10.140845    0.000052         C
A.J..GREER    2016020268 35            4.724409    0.000089         L
              2016020278 34           16.021598    0.610197         L
              2016020296 33            0.000000    0.000000         L
              2017020134 32           14.342629    1.582916         L

                                     position_type  firstname  lastname
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                       F      ZENON   KONOPKA
A.J..GREER    2016020268 35                      F         AJ     GREER
              2016020278 34                      F         AJ     GREER
              2016020296 33                      F         AJ     GREER
              2017020134 32                      F       A.J.     GREER

[5 rows x 257 columns]

In [20]:
player_avgs_base = playerbg[["TOI_comp", "G_comp" , "Points_comp" , "iSF_comp",  "iFF_comp" , "iCF_comp","ixG_comp","iBLK_comp","iHF","OZS_comp","TOI_ev", "G_ev","Points_ev","iSF_ev","iFF_ev","iCF_ev","ixG_ev","iBLK_ev","onGF","onFF","onCF","onxGF","onFA_state","TOI","G","Points" , "iSF" , "iFF", "iCF" ,"ixG","onGF_pp","onSF_pp",  "onFF_pp" , "onCF_pp" , "onxGF_pp" ,"TOI_sh","G_sh","Points_sh","iSF_sh","iFF_sh","iCF_sh","ixG_sh","onGF_sh" ,"onSF_sh" ,"onFF_sh" , "onCF_sh" , "onxGF_sh" ,   "onxGA_sh" , "hat_trick" , "dk_points" , "skater_toi_percentage" , "skater_pptoi_percentage", "skater_shtoi_percentage", "points_per_60","iFF_per_60","ixG_per_60"]]

In [21]:
## this is simply sorting all the varaibles
player_avgs_base.reset_index(level=["game_id"],inplace=True)

player_avgs_base.sort_index(level=["player","game_order"],ascending=False, inplace=True)

player_avgs_base

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

                             game_id   TOI_comp  G_comp  Points_comp  \
player        game_order
ZENON.KONOPKA 301         2008020405   0.783333       0            0
              300         2008020416   5.266667       0            0
              299         2008020433   3.366667       0            0
              298         2008021168   7.700000       0            0
              297         2008021190   9.966667       0            0
              296         2008021205  12.900000       0            1
              295         2008021222   9.083333       0            0
              294         2009020016   6.283333       0            0
              293         2009020028   5.383333       0            0
              292         2009020040   9.433333       0            0
              291         2009020055   6.333333       0            0
              290         2009020069   9.566667       0            0
              289         2009020083   8.500000       0            0
              288         2009020101   6.700000       0            0
              287         2009020123   9.750000       0            0
              286         2009020137   7.566667       0            0
              285         2009020167   8.916667       0            0
              284         2009020183  11.066667       0            0
              283         2009020196   9.666667       0            0
              282         2009020199   4.866667       0            0
              281         2009020211   8.850000       0            0
              280         2009020228   8.966667       0            0
              279         2009020257   7.283333       0            0
              278         2009020275   6.033333       0            0
              277         2009020288  10.816667       0            0
              276         2009020306   7.916667       0            0
              275         2009020318   7.050000       0            0
              274         2009020326   8.250000       0            1
              273         2009020342   9.733333       0            0
              272         2009020361   8.266667       0            1
...                              ...        ...     ...          ...
A.J..GREER    30          2017020165   6.216667       0            0
              29          2017020194   8.100000       0            1
              28          2017020204   6.683333       0            0
              27          2017020214  13.666667       0            0
              26          2017020610   6.216667       0            0
              25          2017020624   7.600000       0            0
              24          2017020635   8.050000       0            0
              23          2017020675   8.683333       0            1
              22          2017020684   6.116667       0            0
              21          2017020753   6.850000       0            0
              20          2017020822   5.583333       0            0
              19          2017020847   6.616667       0            0
              18          2017020856   6.066667       0            0
              17          2017020877   6.083333       0            0
              16          2017020892   8.800000       0            0
              15          2018020193   5.100000       0            0
              14          2018020474   6.450000       0            0
              13          2018020492   6.000000       0            0
              12          2018020503   5.466667       0            0
              11          2018020555   6.350000       0            0
              10          2018020827   4.183333       0            0
              9           2018020841   7.833333       0            0
              8           2018020853   6.683333       0            0
              7           2018020873   8.133333       0            0
              6           2018020882   6.900000       0            1
              5           2018020894   6.766667       0            0
              4           2018020913   4.000000       0            0
              3           2018020926   7.116667       1            1
              2           2018020942   5.216667       0            0
              1           2018020951   7.816667       0            0

                          iSF_comp  iFF_comp  iCF_comp  ixG_comp  iBLK_comp  \
player        game_order
ZENON.KONOPKA 301                0         0         0  0.000000          0
              300                0         0         1  0.000000          0
              299                0         0         0  0.000000          0
              298                1         1         1  0.000000          0
              297                2         2         2  0.000000          0
              296                2         2         2  0.000000          0
              295                1         1         1  0.000000          2
              294                2         2         2  0.000000          1
              293                0         0         0  0.000000          0
              292                2         3         3  0.000000          1
              291                0         0         0  0.000000          1
              290                1         1         2  0.000000          0
              289                0         0         0  0.000000          0
              288                0         0         0  0.000000          0
              287                0         0         0  0.000000          0
              286                0         0         0  0.000000          0
              285                1         1         1  0.000000          1
              284                0         1         1  0.000000          0
              283                1         1         1  0.000000          1
              282                0         0         0  0.000000          0
              281                0         0         0  0.000000          2
              280                1         1         1  0.000000          1
              279                1         1         1  0.000000          0
              278                1         1         1  0.000000          0
              277                0         0         0  0.000000          0
              276                1         1         1  0.000000          1
              275                0         0         0  0.000000          0
              274                0         0         1  0.000000          0
              273                0         0         0  0.000000          0
              272                0         0         0  0.000000          1
...                            ...       ...       ...       ...        ...
A.J..GREER    30                 0         0         0  0.000000          0
              29                 0         0         1  0.000000          0
              28                 1         1         1  0.001997          0
              27                 1         1         1  0.011426          1
              26                 2         2         2  0.257546          0
              25                 0         0         0  0.000000          1
              24                 1         1         1  0.006850          1
              23                 0         0         0  0.000000          0
              22                 0         0         1  0.000000          0
              21                 1         2         4  0.067768          0
              20                 0         0         0  0.000000          1
              19                 0         0         0  0.000000          0
              18                 1         2         3  0.000000          0
              17                 0         0         0  0.000000          0
              16                 2         2         2  0.060796          0
              15                 0         0         0  0.000000          1
              14                 0         1         1  0.586419          0
              13                 0         0         0  0.000000          0
              12                 0         0         0  0.000000          0
              11                 0         0         0  0.000000          0
              10                 1         1         1  0.005798          0
              9                  1         1         1  0.010412          0
              8                  0         0         2  0.000000          0
              7                  0         0         0  0.000000          1
              6                  3         4         4  0.875276          2
              5                  0         0         0  0.000000          0
              4                  0         0         0  0.000000          0
              3                  1         1         1  0.107321          0
              2                  2         2         3  0.015250          1
              1                  1         1         1  0.089531          0

                          iHF     ...      onxGF_sh  onxGA_sh  hat_trick  \
player        game_order          ...
ZENON.KONOPKA 301           0     ...           0.0       0.0        0.0
              300           2     ...           0.0       0.0        0.0
              299           1     ...           0.0       0.0        0.0
              298           1     ...           0.0       0.0        0.0
              297           0     ...           0.0       0.0        0.0
              296           1     ...           0.0       0.0        0.0
              295           1     ...           0.0       0.0        0.0
              294           1     ...           0.0       0.0        0.0
              293           3     ...           0.0       0.0        0.0
              292           1     ...           0.0       0.0        0.0
              291           1     ...           0.0       0.0        0.0
              290           2     ...           0.0       0.0        0.0
              289           5     ...           0.0       0.0        0.0
              288           2     ...           0.0       0.0        0.0
              287           2     ...           0.0       0.0        0.0
              286           2     ...           0.0       0.0        0.0
              285           1     ...           0.0       0.0        0.0
              284           3     ...           0.0       0.0        0.0
              283           2     ...           0.0       0.0        0.0
              282           1     ...           0.0       0.0        0.0
              281           1     ...           0.0       0.0        0.0
              280           1     ...           0.0       0.0        0.0
              279           1     ...           0.0       0.0        0.0
              278           1     ...           0.0       0.0        0.0
              277           1     ...           0.0       0.0        0.0
              276           0     ...           0.0       0.0        0.0
              275           1     ...           0.0       0.0        0.0
              274           2     ...           0.0       0.0        0.0
              273           2     ...           0.0       0.0        0.0
              272           3     ...           0.0       0.0        0.0
...                       ...     ...           ...       ...        ...
A.J..GREER    30            2     ...           0.0       0.0        0.0
              29            2     ...           0.0       0.0        0.0
              28            1     ...           0.0       0.0        0.0
              27            5     ...           0.0       0.0        0.0
              26            2     ...           0.0       0.0        0.0
              25            2     ...           0.0       0.0        0.0
              24            2     ...           0.0       0.0        0.0
              23            1     ...           0.0       0.0        0.0
              22            0     ...           0.0       0.0        0.0
              21            2     ...           0.0       0.0        0.0
              20            1     ...           0.0       0.0        0.0
              19            2     ...           0.0       0.0        0.0
              18            0     ...           0.0       0.0        0.0
              17            1     ...           0.0       0.0        0.0
              16            2     ...           0.0       0.0        0.0
              15            2     ...           0.0       0.0        0.0
              14            1     ...           0.0       0.0        0.0
              13            0     ...           0.0       0.0        0.0
              12            1     ...           0.0       0.0        0.0
              11            2     ...           0.0       0.0        0.0
              10            1     ...           0.0       0.0        0.0
              9             5     ...           0.0       0.0        0.0
              8             1     ...           0.0       0.0        0.0
              7             0     ...           0.0       0.0        0.0
              6             2     ...           0.0       0.0        0.0
              5             1     ...           0.0       0.0        0.0
              4             0     ...           0.0       0.0        0.0
              3             1     ...           0.0       0.0        0.0
              2             3     ...           0.0       0.0        0.0
              1             0     ...           0.0       0.0        0.0

                          dk_points  skater_toi_percentage  \
player        game_order
ZENON.KONOPKA 301               0.0               0.013056
              300               0.0               0.087778
              299               0.0               0.056111
              298               0.5               0.128333
              297               1.0               0.166111
              296               3.0               0.215000
              295               1.5               0.151389
              294               1.5               0.104722
              293               0.0               0.082821
              292               1.5               0.145128
              291               0.5               0.105556
              290               0.5               0.159444
              289               0.0               0.141667
              288               0.0               0.111667
              287               0.0               0.162500
              286               0.0               0.116410
              285               1.0               0.148611
              284               0.0               0.170256
              283               1.0               0.161111
              282               0.0               0.078054
              281               1.0               0.137672
              280               1.0               0.149444
              279               0.5               0.112051
              278               0.5               0.092821
              277               0.0               0.180278
              276               1.0               0.130066
              275               0.0               0.117500
              274               2.0               0.131091
              273               0.0               0.162222
              272               2.5               0.137778
...                             ...                    ...
A.J..GREER    30                0.0               0.103611
              29                2.0               0.135000
              28                0.5               0.102821
              27                1.0               0.227778
              26                1.0               0.095887
              25                0.5               0.126667
              24                1.0               0.134167
              23                2.0               0.144722
              22                0.0               0.101944
              21                0.5               0.114167
              20                0.5               0.093056
              19                0.0               0.110278
              18                0.5               0.101111
              17                0.0               0.101389
              16                1.0               0.146667
              15                0.5               0.078907
              14                0.0               0.107500
              13                0.0               0.096644
              12                0.0               0.091111
              11                0.0               0.105833
              10                0.5               0.065161
              9                 0.5               0.125568
              8                 0.0               0.104346
              7                 0.5               0.135556
              6                 4.5               0.115000
              5                 0.0               0.112778
              4                 0.0               0.066667
              3                 3.5               0.118611
              2                 1.5               0.086944
              1                 0.5               0.130278

                          skater_pptoi_percentage  skater_shtoi_percentage  \
player        game_order
ZENON.KONOPKA 301                        0.009107                 0.000000
              300                        0.000000                 0.000000
              299                        0.000000                 0.000000
              298                        0.000000                 0.000000
              297                        0.004992                 0.000000
              296                        0.000000                 0.000000
              295                        0.000000                 0.029985
              294                        0.000000                 0.000000
              293                        0.000000                 0.000000
              292                        0.000000                 0.000000
              291                        0.000000                 0.000000
              290                        0.000000                 0.000000
              289                        0.056410                 0.000000
              288                        0.000000                 0.024060
              287                        0.000000                 0.000000
              286                        0.000000                 0.000000
              285                        0.000000                 0.000000
              284                        0.091185                 0.000000
              283                        0.000000                 0.000000
              282                        0.000000                 0.000000
              281                        0.000000                 0.000000
              280                        0.000000                 0.000000
              279                        0.000000                 0.000000
              278                        0.000000                 0.000000
              277                        0.087500                 0.000000
              276                        0.000000                 0.000000
              275                        0.000000                 0.000000
              274                        0.000000                 0.000000
              273                        0.000000                 0.000000
              272                        0.000000                 0.000000
...                                           ...                      ...
A.J..GREER    30                         0.000000                 0.000000
              29                         0.000000                 0.000000
              28                         0.000000                 0.000000

In [22]:
for col in player_avgs_base.columns:
    player_avgs_base[col+'_avg_lt'] = player_avgs_base.groupby('player')[col].apply(lambda ser: ser.rolling(2).mean().shift().reset_index(level=0, drop=True))
    #player_avgs_base.groupby('player').apply(lambda _df: _df.sort_values(by=['game_order'], ascending=False)[col].rolling(2).mean().shift().reset_index(level=0, drop=True))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
player_avgs_base2 = playerbg[["TOI_comp", "G_comp" , "Points_comp" , "iSF_comp",  "iFF_comp" , "iCF_comp","ixG_comp","iBLK_comp","iHF","OZS_comp","TOI_ev", "G_ev","Points_ev","iSF_ev","iFF_ev","iCF_ev","ixG_ev","iBLK_ev","onGF","onFF","onCF","onxGF","onFA_state","TOI","G","Points" , "iSF" , "iFF", "iCF" ,"ixG","onGF_pp","onSF_pp",  "onFF_pp" , "onCF_pp" , "onxGF_pp" ,"TOI_sh","G_sh","Points_sh","iSF_sh","iFF_sh","iCF_sh","ixG_sh","onGF_sh" ,"onSF_sh" ,"onFF_sh" , "onCF_sh" , "onxGF_sh" ,   "onxGA_sh" , "hat_trick" , "dk_points" , "skater_toi_percentage" , "skater_pptoi_percentage", "skater_shtoi_percentage", "points_per_60","iFF_per_60","ixG_per_60"]]
## this is simply sorting all the varaibles
player_avgs_base2.reset_index(level=["game_id"],inplace=True)

player_avgs_base2.sort_index(level=["player","game_order"],ascending=False, inplace=True)

for col in player_avgs_base2.columns:
    player_avgs_base2[col+'_avg_lf'] = player_avgs_base2.groupby('player')[col].apply(lambda ser: ser.rolling(5).mean().shift().reset_index(level=0, drop=True))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
player_avgs_base3 = playerbg[["TOI_comp", "G_comp" , "Points_comp" , "iSF_comp",  "iFF_comp" , "iCF_comp","ixG_comp","iBLK_comp","iHF","OZS_comp","TOI_ev", "G_ev","Points_ev","iSF_ev","iFF_ev","iCF_ev","ixG_ev","iBLK_ev","onGF","onFF","onCF","onxGF","onFA_state","TOI","G","Points" , "iSF" , "iFF", "iCF" ,"ixG","onGF_pp","onSF_pp",  "onFF_pp" , "onCF_pp" , "onxGF_pp" ,"TOI_sh","G_sh","Points_sh","iSF_sh","iFF_sh","iCF_sh","ixG_sh","onGF_sh" ,"onSF_sh" ,"onFF_sh" , "onCF_sh" , "onxGF_sh" ,   "onxGA_sh" , "hat_trick" , "dk_points" , "skater_toi_percentage" , "skater_pptoi_percentage", "skater_shtoi_percentage", "points_per_60","iFF_per_60","ixG_per_60"]]
## this is simply sorting all the varaibles
player_avgs_base3.reset_index(level=["game_id"],inplace=True)

player_avgs_base3.sort_index(level=["player","game_order"],ascending=False, inplace=True)

for col in player_avgs_base3.columns:
    player_avgs_base3[col+'_avg_lten'] = player_avgs_base3.groupby('player')[col].apply(lambda ser: ser.rolling(10).mean().shift().reset_index(level=0, drop=True))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
player_avgs_base4 = playerbg[["TOI_comp", "G_comp" , "Points_comp" , "iSF_comp",  "iFF_comp" , "iCF_comp","ixG_comp","iBLK_comp","iHF","OZS_comp","TOI_ev", "G_ev","Points_ev","iSF_ev","iFF_ev","iCF_ev","ixG_ev","iBLK_ev","onGF","onFF","onCF","onxGF","onFA_state","TOI","G","Points" , "iSF" , "iFF", "iCF" ,"ixG","onGF_pp","onSF_pp",  "onFF_pp" , "onCF_pp" , "onxGF_pp" ,"TOI_sh","G_sh","Points_sh","iSF_sh","iFF_sh","iCF_sh","ixG_sh","onGF_sh" ,"onSF_sh" ,"onFF_sh" , "onCF_sh" , "onxGF_sh" ,   "onxGA_sh" , "hat_trick" , "dk_points" , "skater_toi_percentage" , "skater_pptoi_percentage", "skater_shtoi_percentage", "points_per_60","iFF_per_60","ixG_per_60"]]
## this is simply sorting all the varaibles
player_avgs_base4.reset_index(level=["game_id"],inplace=True)

player_avgs_base4.sort_index(level=["player","game_order"],ascending=False, inplace=True)

for col in player_avgs_base4.columns:
    player_avgs_base4[col+'_avg_ltwen'] = player_avgs_base4.groupby('player')[col].apply(lambda ser: ser.rolling(20).mean().shift().reset_index(level=0, drop=True))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In the following we're checking to see that the rolling functions worked to produce at the expected levels.

In [26]:
player_avgs_base2.head(10)

                             game_id   TOI_comp  G_comp  Points_comp  \
player        game_order
ZENON.KONOPKA 301         2008020405   0.783333       0            0
              300         2008020416   5.266667       0            0
              299         2008020433   3.366667       0            0
              298         2008021168   7.700000       0            0
              297         2008021190   9.966667       0            0
              296         2008021205  12.900000       0            1
              295         2008021222   9.083333       0            0
              294         2009020016   6.283333       0            0
              293         2009020028   5.383333       0            0
              292         2009020040   9.433333       0            0

                          iSF_comp  iFF_comp  iCF_comp  ixG_comp  iBLK_comp  \
player        game_order
ZENON.KONOPKA 301                0         0         0       0.0          0
              300                0         0         1       0.0          0
              299                0         0         0       0.0          0
              298                1         1         1       0.0          0
              297                2         2         2       0.0          0
              296                2         2         2       0.0          0
              295                1         1         1       0.0          2
              294                2         2         2       0.0          1
              293                0         0         0       0.0          0
              292                2         3         3       0.0          1

                          iHF        ...          onxGF_sh_avg_lf  \
player        game_order             ...
ZENON.KONOPKA 301           0        ...                      NaN
              300           2        ...                      NaN
              299           1        ...                      NaN
              298           1        ...                      NaN
              297           0        ...                      NaN
              296           1        ...                      0.0
              295           1        ...                      0.0
              294           1        ...                      0.0
              293           3        ...                      0.0
              292           1        ...                      0.0

                          onxGA_sh_avg_lf  hat_trick_avg_lf  dk_points_avg_lf  \
player        game_order
ZENON.KONOPKA 301                     NaN               NaN               NaN
              300                     NaN               NaN               NaN
              299                     NaN               NaN               NaN
              298                     NaN               NaN               NaN
              297                     NaN               NaN               NaN
              296                     0.0               0.0               0.3
              295                     0.0               0.0               0.9
              294                     0.0               0.0               1.2
              293                     0.0               0.0               1.5
              292                     0.0               0.0               1.4

                          skater_toi_percentage_avg_lf  \
player        game_order
ZENON.KONOPKA 301                                  NaN
              300                                  NaN
              299                                  NaN
              298                                  NaN
              297                                  NaN
              296                             0.090278
              295                             0.130667
              294                             0.143389
              293                             0.153111
              292                             0.144009

                          skater_pptoi_percentage_avg_lf  \
player        game_order
ZENON.KONOPKA 301                                    NaN
              300                                    NaN
              299                                    NaN
              298                                    NaN
              297                                    NaN
              296                               0.002820
              295                               0.000998
              294                               0.000998
              293                               0.000998
              292                               0.000998

                          skater_shtoi_percentage_avg_lf  \
player        game_order
ZENON.KONOPKA 301                                    NaN
              300                                    NaN
              299                                    NaN
              298                                    NaN
              297                                    NaN
              296                               0.000000
              295                               0.000000
              294                               0.005997
              293                               0.005997
              292                               0.005997

                          points_per_60_avg_lf  iFF_per_60_avg_lf  \
player        game_order
ZENON.KONOPKA 301                          NaN                NaN
              300                          NaN                NaN
              299                          NaN                NaN
              298                          NaN                NaN
              297                          NaN                NaN
              296                     0.000000           3.966468
              295                     0.930233           5.826933
              294                     0.930233           7.148034
              293                     0.930233          10.967663
              292                     0.930233           9.409221

                          ixG_per_60_avg_lf
player        game_order
ZENON.KONOPKA 301                       NaN
              300                       NaN
              299                       NaN
              298                       NaN
              297                       NaN
              296                       0.0
              295                       0.0
              294                       0.0
              293                       0.0
              292                       0.0

[10 rows x 114 columns]

In [27]:
player_avgs_base3.head(30)[7:13]

                             game_id  TOI_comp  G_comp  Points_comp  iSF_comp  \
player        game_order
ZENON.KONOPKA 294         2009020016  6.283333       0            0         2
              293         2009020028  5.383333       0            0         0
              292         2009020040  9.433333       0            0         2
              291         2009020055  6.333333       0            0         0
              290         2009020069  9.566667       0            0         1
              289         2009020083  8.500000       0            0         0

                          iFF_comp  iCF_comp  ixG_comp  iBLK_comp  iHF  \
player        game_order
ZENON.KONOPKA 294                2         2       0.0          1    1
              293                0         0       0.0          0    3
              292                3         3       0.0          1    1
              291                0         0       0.0          1    1
              290                1         2       0.0          0    2
              289                0         0       0.0          0    5

                                 ...           onxGF_sh_avg_lten  \
player        game_order         ...
ZENON.KONOPKA 294                ...                         NaN
              293                ...                         NaN
              292                ...                         NaN
              291                ...                         0.0
              290                ...                         0.0
              289                ...                         0.0

                          onxGA_sh_avg_lten  hat_trick_avg_lten  \
player        game_order
ZENON.KONOPKA 294                       NaN                 NaN
              293                       NaN                 NaN
              292                       NaN                 NaN
              291                       0.0                 0.0
              290                       0.0                 0.0
              289                       0.0                 0.0

                          dk_points_avg_lten  skater_toi_percentage_avg_lten  \
player        game_order
ZENON.KONOPKA 294                        NaN                             NaN
              293                        NaN                             NaN
              292                        NaN                             NaN
              291                       0.90                        0.115045
              290                       0.95                        0.124295
              289                       1.00                        0.131462

                          skater_pptoi_percentage_avg_lten  \
player        game_order
ZENON.KONOPKA 294                                      NaN
              293                                      NaN
              292                                      NaN
              291                                 0.001410
              290                                 0.000499
              289                                 0.000499

                          skater_shtoi_percentage_avg_lten  \
player        game_order
ZENON.KONOPKA 294                                      NaN
              293                                      NaN
              292                                      NaN
              291                                 0.002999
              290                                 0.002999
              289                                 0.002999

                          points_per_60_avg_lten  iFF_per_60_avg_lten  \
player        game_order
ZENON.KONOPKA 294                            NaN                  NaN
              293                            NaN                  NaN
              292                            NaN                  NaN
              291                       0.465116             7.550969
              290                       0.465116             7.550969
              289                       0.465116             8.178147

                          ixG_per_60_avg_lten
player        game_order
ZENON.KONOPKA 294                         NaN
              293                         NaN
              292                         NaN
              291                         0.0
              290                         0.0
              289                         0.0

[6 rows x 114 columns]

In [28]:
player_avgs_base4.head(30)[17:23]

                             game_id   TOI_comp  G_comp  Points_comp  \
player        game_order
ZENON.KONOPKA 284         2009020183  11.066667       0            0
              283         2009020196   9.666667       0            0
              282         2009020199   4.866667       0            0
              281         2009020211   8.850000       0            0
              280         2009020228   8.966667       0            0
              279         2009020257   7.283333       0            0

                          iSF_comp  iFF_comp  iCF_comp  ixG_comp  iBLK_comp  \
player        game_order
ZENON.KONOPKA 284                0         1         1       0.0          0
              283                1         1         1       0.0          1
              282                0         0         0       0.0          0
              281                0         0         0       0.0          2
              280                1         1         1       0.0          1
              279                1         1         1       0.0          0

                          iHF          ...           onxGF_sh_avg_ltwen  \
player        game_order               ...
ZENON.KONOPKA 284           3          ...                          NaN
              283           2          ...                          NaN
              282           1          ...                          NaN
              281           1          ...                          0.0
              280           1          ...                          0.0
              279           1          ...                          0.0

                          onxGA_sh_avg_ltwen  hat_trick_avg_ltwen  \
player        game_order
ZENON.KONOPKA 284                        NaN                  NaN
              283                        NaN                  NaN
              282                        NaN                  NaN
              281                        0.0                  0.0
              280                        0.0                  0.0
              279                        0.0                  0.0

                          dk_points_avg_ltwen  \
player        game_order
ZENON.KONOPKA 284                         NaN
              283                         NaN
              282                         NaN
              281                        0.60
              280                        0.65
              279                        0.70

                          skater_toi_percentage_avg_ltwen  \
player        game_order
ZENON.KONOPKA 284                                     NaN
              283                                     NaN
              282                                     NaN
              281                                0.125286
              280                                0.131517
              279                                0.134600

                          skater_pptoi_percentage_avg_ltwen  \
player        game_order
ZENON.KONOPKA 284                                       NaN
              283                                       NaN
              282                                       NaN
              281                                  0.008085
              280                                  0.007629
              279                                  0.007629

                          skater_shtoi_percentage_avg_ltwen  \
player        game_order
ZENON.KONOPKA 284                                       NaN
              283                                       NaN
              282                                       NaN
              281                                  0.002702
              280                                  0.002702
              279                                  0.002702

                          points_per_60_avg_ltwen  iFF_per_60_avg_ltwen  \
player        game_order
ZENON.KONOPKA 284                             NaN                   NaN
              283                             NaN                   NaN
              282                             NaN                   NaN
              281                        0.232558              5.029542
              280                        0.232558              5.029542
              279                        0.232558              5.364114

                          ixG_per_60_avg_ltwen
player        game_order
ZENON.KONOPKA 284                          NaN
              283                          NaN
              282                          NaN
              281                          0.0
              280                          0.0
              279                          0.0

[6 rows x 114 columns]

The following columns were generated to show change over time, the thinking being that this might show a trend which would be valuable, particularly if the player were seeing an increase in ice time or shots. Additionally the standard deviation and aggregate column merging standard deviation and multiplying them in order to find positive trend lines.

In [29]:
player_rolling_avgbs_base = playerbg[["TOI_comp", "G_comp" , "Points_comp" , "iFF_comp" , "iCF_comp","ixG_comp","TOI_ev", "G_ev","Points_ev","iFF_ev","iCF_ev","ixG_ev","onGF","onFF","onCF","onxGF","TOI","G","Points" , "iSF" , "iFF", "iCF" ,"ixG","onGF_pp", "onFF_pp" , "onCF_pp" , "onxGF_pp" ,  "dk_points" , "skater_toi_percentage" , "skater_pptoi_percentage", "skater_shtoi_percentage", "points_per_60","iFF_per_60","ixG_per_60"]]
player_rolling_avgbs_base.reset_index(level=["game_id"],inplace=True)
player_rolling_avgbs_base.sort_index(level=["player","game_order"],ascending=False, inplace=True)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
for col in player_rolling_avgbs_base.columns:
    player_rolling_avgbs_base[col+'_lag'] = player_rolling_avgbs_base.groupby('player')[col].apply(lambda ser: ser.diff().reset_index(level=0, drop=True))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/pandas/core/algorithms.py:1823: RuntimeWarning: invalid value encountered in subtract
  out_arr[res_indexer] = arr[res_indexer] - arr[lag_indexer]

In [33]:
player_rolling_avgbs_base[0:2]

                             game_id  TOI_comp  G_comp  Points_comp  iFF_comp  \
player        game_order
ZENON.KONOPKA 301         2008020405  0.783333       0            0         0
              300         2008020416  5.266667       0            0         0

                          iCF_comp  ixG_comp    TOI_ev  G_ev  Points_ev  \
player        game_order
ZENON.KONOPKA 301                0       0.0  0.700000   0.0        0.0
              300                1       0.0  5.266667   0.0        0.0

                               ...        onFF_pp_lag  onCF_pp_lag  \
player        game_order       ...
ZENON.KONOPKA 301              ...                NaN          NaN
              300              ...                0.0          0.0

                          onxGF_pp_lag  dk_points_lag  \
player        game_order
ZENON.KONOPKA 301                  NaN            NaN
              300                  0.0            0.0

                          skater_toi_percentage_lag  \
player        game_order
ZENON.KONOPKA 301                               NaN
              300                          0.074722

                          skater_pptoi_percentage_lag  \
player        game_order
ZENON.KONOPKA 301                                 NaN
              300                           -0.009107

                          skater_shtoi_percentage_lag  points_per_60_lag  \
player        game_order
ZENON.KONOPKA 301                                 NaN                NaN
              300                                 0.0                0.0

                          iFF_per_60_lag  ixG_per_60_lag
player        game_order
ZENON.KONOPKA 301                    NaN             NaN
              300                    0.0             0.0

[2 rows x 70 columns]

There was some assumed value both in knowing the sum  total of the movement, as well as standard deviation. Then an aggregate column was created that was intened to show where trend lines might exist. Additionally a method from finance was borrowed; breakout values, which were intended to show where a trendline was shifting in a positive direction, or in financial terms, set to 'break out' of the moving average.

In [32]:

lag_cols = [col for col in player_rolling_avgbs_base.columns if 'lag' in col]

for col in lag_cols:
    player_rolling_avgbs_base[col+'_astt_std'] = player_rolling_avgbs_base.groupby('player')[col].apply(lambda ser: ser.fillna(0).rolling(2).std().shift)
    player_rolling_avgbs_base[col+'_astf_std'] = player_rolling_avgbs_base.groupby('player')[col].apply(lambda ser: ser.fillna(0).rolling(5).std().shift)
    player_rolling_avgbs_base[col+'_astten_std'] = player_rolling_avgbs_base.groupby('player')[col].apply(lambda ser: ser.fillna(0).rolling(10).std().shift)
    player_rolling_avgbs_base[col+'_asttwen_std'] = player_rolling_avgbs_base.groupby('player')[col].apply(lambda ser: ser.fillna(0).rolling(20).std().shift)
    player_rolling_avgbs_base[col+'_lastt'] = player_rolling_avgbs_base.groupby('player')[col].apply(lambda ser: ser.fillna(0).rolling(2).sum().shift)
    player_rolling_avgbs_base[col+'_lastf'] = player_rolling_avgbs_base.groupby('player')[col].apply(lambda ser: ser.fillna(0).rolling(5).sum().shift)
    player_rolling_avgbs_base[col+'_lastten'] = player_rolling_avgbs_base.groupby('player')[col].apply(lambda ser: ser.fillna(0).rolling(10).sum().shift)
    player_rolling_avgbs_base[col+'_lasttwen'] = player_rolling_avgbs_base.groupby('player')[col].apply(lambda ser: ser.fillna(0).rolling(20).sum().shift)

AttributeError: 'function' object has no attribute 'reset_index'

With those features created the next step is to join them into something that can act as the basis for the matrix and then drop redundancies. First the tables were reshaped, reindexed, and then rejoined.

In [ ]:
player_avgs_base.set_index("game_id",inplace=True,  append=True)
player_avgs_base

In [506]:
new_cols = [col for col in player_avgs_base.columns if '_avg' in col]


playerbg_jo = pd.merge(playerbg, player_avgs_base[new_cols], left_on=['player','game_id', 'game_order'],right_on=['player','game_id','game_order'],how='outer',suffixes=('','_avgt'))
playerbg_jo.head()

                                      index  game_date  season_comp Team_comp  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2           441584 2014-03-20     20132014       BUF
A.J..GREER    2016020268 35               2 2016-11-19     20162017       COL
              2016020278 34               3 2016-11-21     20162017       COL
              2016020296 33               4 2016-11-23     20162017       COL
              2017020134 32               5 2017-10-24     20172018       COL

                                    Opponent_comp  is_home_comp   TOI_comp  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                    EDM             0   5.916667
A.J..GREER    2016020268 35                   MIN             0  12.700000
              2016020278 34                   CBJ             0  15.433333
              2016020296 33                   EDM             1  11.850000
              2017020134 32                   DAL             1   8.366667

                                     G_comp  A1_comp  A2_comp  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                0        0        0
A.J..GREER    2016020268 35               0        0        0
              2016020278 34               0        0        0
              2016020296 33               0        0        0
              2017020134 32               0        0        0

                                           ...          onxGF_sh_avg_lt  \
player        game_id    game_order        ...
ZENON.KONOPKA 2013021047 2                 ...                  0.05339
A.J..GREER    2016020268 35                ...                  0.00000
              2016020278 34                ...                  0.00000
              2016020296 33                ...                  0.00000
              2017020134 32                ...                  0.00000

                                     onxGA_sh_avg_lt  hat_trick_avg_lt  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                  0.013774               0.0
A.J..GREER    2016020268 35                 0.000000               0.0
              2016020278 34                 0.000009               0.0
              2016020296 33                 0.000009               0.0
              2017020134 32                 0.004561               0.0

                                     dk_points_avg_lt  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                       0.25
A.J..GREER    2016020268 35                      1.00
              2016020278 34                      0.25
              2016020296 33                      1.50
              2017020134 32                      1.75

                                     skater_toi_percentage_avg_lt  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                               0.136250
A.J..GREER    2016020268 35                              0.235833
              2016020278 34                              0.203611
              2016020296 33                              0.230665
              2017020134 32                              0.223581

                                     skater_pptoi_percentage_avg_lt  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                                 0.005085
A.J..GREER    2016020268 35                                0.465116
              2016020278 34                                0.000000
              2016020296 33                                0.000000
              2017020134 32                                0.108333

                                     skater_shtoi_percentage_avg_lt  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                                 0.407133
A.J..GREER    2016020268 35                                0.000000
              2016020278 34                                0.060150
              2016020296 33                                0.060150
              2017020134 32                                0.027052

                                     points_per_60_avg_lt  iFF_per_60_avg_lt  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                            0.0           3.757829
A.J..GREER    2016020268 35                           0.0          10.546232
              2016020278 34                           0.0           7.475841
              2016020296 33                           0.0          10.373004
              2017020134 32                           0.0           8.010799

                                     ixG_per_60_avg_lt
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                    0.133195
A.J..GREER    2016020268 35                   2.142877
              2016020278 34                   1.657386
              2016020296 33                   0.305143
              2017020134 32                   0.305098

[5 rows x 314 columns]

In [511]:
## worked nicely there, adding to the remainder

player_avgs_base2.set_index("game_id",inplace=True,  append=True)
player_avgs_base3.set_index("game_id",inplace=True,  append=True)
player_avgs_base4.set_index("game_id",inplace=True,  append=True)

new_cols = [col for col in player_avgs_base2.columns if '_avg' in col]


playerbg_jo_f = pd.merge(playerbg_jo, player_avgs_base2[new_cols], left_on=['player','game_id', 'game_order'],right_on=['player','game_id','game_order'],how='outer',suffixes=('','_avgf'))

new_cols = [col for col in player_avgs_base3.columns if '_avg' in col]


playerbg_jo_t = pd.merge(playerbg_jo_f, player_avgs_base3[new_cols], left_on=['player','game_id', 'game_order'],right_on=['player','game_id','game_order'],how='outer',suffixes=('','_avgten'))


new_cols = [col for col in player_avgs_base4.columns if '_avg' in col]


playerbg_jo_twenty = pd.merge(playerbg_jo_t, player_avgs_base4[new_cols], left_on=['player','game_id', 'game_order'],right_on=['player','game_id','game_order'],how='outer',suffixes=('','_avgtwn'))

In [512]:
playerbg_jo_twenty.shape

(441586, 485)

In [513]:
playerbg_jo_twenty.head()

                                      index  game_date  season_comp Team_comp  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2           441584 2014-03-20     20132014       BUF
A.J..GREER    2016020268 35               2 2016-11-19     20162017       COL
              2016020278 34               3 2016-11-21     20162017       COL
              2016020296 33               4 2016-11-23     20162017       COL
              2017020134 32               5 2017-10-24     20172018       COL

                                    Opponent_comp  is_home_comp   TOI_comp  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                    EDM             0   5.916667
A.J..GREER    2016020268 35                   MIN             0  12.700000
              2016020278 34                   CBJ             0  15.433333
              2016020296 33                   EDM             1  11.850000
              2017020134 32                   DAL             1   8.366667

                                     G_comp  A1_comp  A2_comp  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                0        0        0
A.J..GREER    2016020268 35               0        0        0
              2016020278 34               0        0        0
              2016020296 33               0        0        0
              2017020134 32               0        0        0

                                             ...           onxGF_sh_avg_ltwen  \
player        game_id    game_order          ...
ZENON.KONOPKA 2013021047 2                   ...                      0.06671
A.J..GREER    2016020268 35                  ...                          NaN
              2016020278 34                  ...                          NaN
              2016020296 33                  ...                          NaN
              2017020134 32                  ...                          NaN

                                     onxGA_sh_avg_ltwen  hat_trick_avg_ltwen  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                     0.020492                  0.0
A.J..GREER    2016020268 35                         NaN                  NaN
              2016020278 34                         NaN                  NaN
              2016020296 33                         NaN                  NaN
              2017020134 32                         NaN                  NaN

                                     dk_points_avg_ltwen  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                           0.5
A.J..GREER    2016020268 35                          NaN
              2016020278 34                          NaN
              2016020296 33                          NaN
              2017020134 32                          NaN

                                     skater_toi_percentage_avg_ltwen  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                                  0.123902
A.J..GREER    2016020268 35                                      NaN
              2016020278 34                                      NaN
              2016020296 33                                      NaN
              2017020134 32                                      NaN

                                     skater_pptoi_percentage_avg_ltwen  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                                    0.002488
A.J..GREER    2016020268 35                                        NaN
              2016020278 34                                        NaN
              2016020296 33                                        NaN
              2017020134 32                                        NaN

                                     skater_shtoi_percentage_avg_ltwen  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                                    0.109419
A.J..GREER    2016020268 35                                        NaN
              2016020278 34                                        NaN
              2016020296 33                                        NaN
              2017020134 32                                        NaN

                                     points_per_60_avg_ltwen  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                      3.552714e-16
A.J..GREER    2016020268 35                              NaN
              2016020278 34                              NaN
              2016020296 33                              NaN
              2017020134 32                              NaN

                                     iFF_per_60_avg_ltwen  \
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                       7.118626
A.J..GREER    2016020268 35                           NaN
              2016020278 34                           NaN
              2016020296 33                           NaN
              2017020134 32                           NaN

                                     ixG_per_60_avg_ltwen
player        game_id    game_order
ZENON.KONOPKA 2013021047 2                       1.018064
A.J..GREER    2016020268 35                           NaN
              2016020278 34                           NaN
              2016020296 33                           NaN
              2017020134 32                           NaN

[5 rows x 485 columns]